<link rel="stylesheet" type="text/css" href="styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="styles/courses.css">
<link rel="stylesheet" type="text/css" href="styles/courses_responsive.css">

<!-- Home -->
<div class="home">
	<div class="breadcrumbs_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="breadcrumbs">
						<ul>
							<li><a href="/index">Home</a></li>
							<li>About</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- About -->
<div class="about-team">

	<div class="container">
		<h3 class="w3_agile_header">Welcome To Our Team</h3>
		<h1>HCMUS-EC-20A1</h1>
		<div class="row team-agileitsinfo">
			<!--Leader - Reporter-->
			<div class="col-md-6 about-team-grids">
				<img src="/images/t8.jpg" alt="" />
				<div class="team-w3lstext">
					<h4><span>VAN HIEU,</span><br>Leader</h4>
					<p>1712439</p>
				</div>
				<div class="social-icons caption">
					<ul>
						<li><a href="https://www.facebook.com/hieu.map.9799" class="fa fa-facebook facebook"> </a></li>
						<li><a href="https://github.com/NguyenVanHieu971999" class="fa fa-github github"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class=" col-md-6 about-team-grids">
				<img src="/images/t9.jpg" alt="" />
				<div class="team-w3lstext">
					<h4><span>PHUONG KHANH,</span><br>Reporter</h4>
					<p>1712067</p>
				</div>
				<div class="social-icons caption">
					<ul>
						<li><a href="https://www.facebook.com/profile.php?id=100007022675549"
								class="fa fa-facebook facebook"> </a></li>
						<li><a href="https://github.com/khbf" class="fa fa-github github"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>

		</div>
		<div class="row team-agileitsinfo">

			<div class="col-md-4 about-team-grids1">
				<img src="/images/t6.jpg" alt="" />
				<div class="team-w3lstext">
					<h4><span>NGOC LAM,</span><br>Member</h4>
					<p>1612321</p>
				</div>
				<div class="social-icons caption">
					<ul>
						<li><a href="https://www.facebook.com/VoNgocLam.98" class="fa fa-facebook facebook"> </a></li>
						<li><a href="https://github.com/VoNgocLam" class="fa fa-github github"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>

			<div class="col-md-4 about-team-grids1">
				<img src="/images/t7.jpg" alt="" />
				<div class="team-w3lstext">
					<h4><span>QUANG DUY,</span><br>Member</h4>
					<p>1712389</p>
				</div>
				<div class="social-icons caption">
					<ul>
						<li><a href="https://www.facebook.com/MrKimada" class="fa fa-facebook facebook"> </a></li>
						<li><a href="https://github.com/nqduy99" class="fa fa-github github"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-4 about-team-grids1">
				<img src="/images/t5.jpg" alt="" />
				<div class="team-w3lstext">
					<h4><span>TRAN TRUNG,</span><br>Member</h4>
					<p>1712850</p>
				</div>
				<div class="social-icons caption">
					<ul>
						<li><a href="https://www.facebook.com/profile.php?id=100004972956775"
								class="fa fa-facebook facebook"> </a></li>
						<li><a href="https://github.com/trungokkt" class="fa fa-github github"> </a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
		
		</div>
	</div>

	<!--3 members-->




<!-- Partners -->
<div class="partners">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="partners_slider_container">
					<div class="owl-carousel owl-theme partners_slider">

						<!-- Partner Item -->
						<div class="owl-item partner_item"><img src="/images/partner_1.png" alt=""></div>

						<!-- Partner Item -->
						<div class="owl-item partner_item"><img src="/images/partner_2.png" alt=""></div>

						<!-- Partner Item -->
						<div class="owl-item partner_item"><img src="/images/partner_3.png" alt=""></div>

						<!-- Partner Item -->
						<div class="owl-item partner_item"><img src="/images/partner_4.png" alt=""></div>

						<!-- Partner Item -->
						<div class="owl-item partner_item"><img src="/images/partner_5.png" alt=""></div>

						<!-- Partner Item -->
						<div class="owl-item partner_item"><img src="/images/partner_6.png" alt=""></div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>