<div class="sidebar" data-image="/assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                Trang Chủ
            </a>
        </div>
        <ul class="nav">
            <li>
                <a class="nav-link" href="/admin">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li>
                <a class="nav-link" href="/admin/user">
                    <i class="nc-icon nc-notes"></i>
                    <p>User</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/admin/teacher">
                    <i class="nc-icon nc-paper-2"></i>
                    <p>Giáo viên</p>
                </a>
            </li>
          <li>
                <a class="nav-link" href="/admin/courses">
                    <i class="nc-icon nc-atom"></i>
                    <p>Khoá học</p>
                </a>
            </li>
  {{!--             <li>
                <a class="nav-link" href="/admin/maps">
                    <i class="nc-icon nc-pin-3"></i>
                    <p>Maps</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="/admin/notifications">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="nav-item active active-pro">
                <a class="nav-link active" href="upgrade">
                    <i class="nc-icon nc-alien-33"></i>
                    <p>Upgrade to PRO</p>
                </a>
            </li> --}}
        </ul>
    </div>
</div>